<!DOCTYPE html>
<html lang="de">
<head>
    {% block title %}
    {% endblock %}
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- HOME =====================================================================================================================  -->
        <!-- CSS ======================================================================================================================  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ asset('css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    {% endblock %}
</head>

<!-- BODY ======================================================================================================================  -->
<body>

{% block navigation %}
    <!-- NAVIGATIONS-MENÜ ==========================================================================================================  -->
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{{ url('index') }}" class="brand-logo">Arrowdynamics Systems</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url('index') }}">HOME</a></li>
                <li><a href="{{ url('weatherData') }}">Wetterstation</a></li>
                <li><a href="{{ url('electricalEngineering') }}">E-Technik</a></li>
                <li><a href="{{ url('mathematics') }}">Mathematik</a></li>
                <li><a href="{{ url('impressum') }}">Impressum</a></li>
                <li><a href="{{ url('privacy') }}">Datenschutz</a></li>
            </ul>
            <!-- Mobiles Menü === -->
            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Menü</a></li>
                <li><a href="{{ url('index') }}">HOME</a></li>
                <li><a href="{{ url('weatherData') }}">Wetterstation</a></li>
                <li><a href="{{ url('electricalEngineering') }}">E-Technik</a></li>
                <li><a href="{{ url('mathematics') }}">Mathematik</a></li>
                <li><a href="{{ url('impressum') }}">Impressum</a></li>
                <li><a href="{{ url('privacy') }}">Datenschutz</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <!-- Ende NAVIGATIONS-MENÜ =====================================================================================================  -->
{% endblock %}

{% block body %}
{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ asset('js/materialize.js') }}"></script>
<script src = "{{ asset('js/materialize.js') }}"></script>
{% endblock %}
</body>
</html>

