{% extends 'base.html.twig' %}

{% block title %}
    <title>Arrowdynamics.systems</title>
{% endblock %}
{% block body %}
    <div id="index-banner" class="parallax-container editable"><div class="section no-pad-bot">
            <div class="container"><br><br> <!--<h2 class="header center teal-text text-lighten-2">Arrowdynamics</h2>
        <div class="row center">
          <h5 class="header col s12 light">Willkommen in einer elektrischen Welt.</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div> --> <br><br></div>
        </div>
        <div class="parallax"><img src="{{ asset('Daten/Fotos/wallpapers/networkcables.jpg') }}" alt="Unsplashed background img 1"></div></div>

    <!-- NEWS-Karten ==================================================================================================================  -->
    <div class="container">
        <div class="row">
            <div class="col s6">
                <div class="card blue darken-1">
                    <div class="card-content white-text">
                        <span class="card-title editable" id="untitled-region-1">Keine Schaltsekunde im Jahr 2018.</span>
                        <p class="editable" id="untitled-region-2">Der Internationale Erdrotationsdienst hat entschieden, dass am 31.12.2018 KEINE Schaltsekunde in die Internationale Atomzeitskala AI eingefügt werden wird.</p>
                    </div>
                    <div class="card-action editable" id="untitled-region-3"><p><a href="#">Lesen Sie mehr!</a></p></div>
                </div>
            </div>
            <div class="col s6">
                <div class="card blue darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Neueröffnung des Berliner Planetariums.</span>
                        <p>Der Internationale Erdrotationsdienst hat entschieden, dass am 31.12.2018
                            eine Schaltsekunde in die Internationale Atomzeitskala AI eingefügt werden wird.</p>
                    </div>
                    <div class="card-action editable" id="untitled-region-4"><p><a href="#">Lesen Sie mehr!</a></p></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ende NEWS-Karten =============================================================================================================  -->


    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4 class="editable" id="untitled-region-5">Willkommen in einer elektrischen Welt.</h4>
                    <p class="left-align light editable" id="untitled-region-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                </div>
            </div>

        </div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center black-text"><i class="material-icons editable" id="untitled-region-7">flash_on</i></h2>
                        <h5 class="center editable" id="untitled-region-8">Eine elektrische Welt!</h5>

                        <p class="light editable" id="untitled-region-9">Die Welt um uns herum ist eine elektrische Welt. Von Computern zur Starkstromtechnik finden Sie hier Antworten auf Fragen, die damit verbunden sind.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center black-text"><i class="material-icons editable" id="untitled-region-10">group</i></h2>
                        <h5 class="center editable" id="untitled-region-11">User Experience Focused</h5>

                        <p class="light editable" id="untitled-region-12">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center black-text"><i class="material-icons editable" id="untitled-region-13">settings</i></h2>
                        <h5 class="center editable" id="untitled-region-14">Easy to work with</h5>

                        <p class="light editable" id="untitled-region-15">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper editable" id="untitled-region-16"><div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ asset('Daten/Fotos/wallpapers/background2.jpg') }}" alt="Unsplashed background img 2"></div></div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4 class="editable" id="untitled-region-17">Contact Us</h4>
                    <p class="left-align light editable" id="untitled-region-18">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
                </div>
            </div>

        </div>
    </div>

    <!-- =========================================================================================================================  -->
    <div class="parallax-container valign-wrapper editable" id="untitled-region-19"><div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ asset('Daten/Fotos/wallpapers/background3.jpg') }}" alt="Unsplashed background img 3"></div></div>
    <!-- =========================================================================================================================  -->





    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text editable" id="untitled-region-20">Company Bio</h5>
                    <p class="grey-text text-lighten-4 editable" id="untitled-region-21">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text editable" id="untitled-region-22">Settings</h5>
                    <ul>
                        <li class="editable" id="untitled-region-23"><p><a class="white-text" href="#!">Link 1</a></p></li>
                        <li class="editable" id="untitled-region-24"><p><a class="white-text" href="#!">Link 2</a></p></li>
                        <li class="editable" id="untitled-region-25"><p><a class="white-text" href="#!">Link 3</a></p></li>
                        <li class="editable" id="untitled-region-26"><p><a class="white-text" href="#!">Link 4</a></p></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text editable" id="untitled-region-27">Connect</h5>
                    <ul>
                        <li class="editable" id="untitled-region-28"><p><a class="white-text" href="#!">Link 1</a></p></li>
                        <li class="editable" id="untitled-region-29"><p><a class="white-text" href="#!">Link 2</a></p></li>
                        <li class="editable" id="untitled-region-30"><a class="white-text" href="#!">Link 3</a></li>
                        <li class="editable" id="untitled-region-31"><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container editable" id="untitled-region-32">



                <!-- Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>-->
                &copy; 2018-2019 Hannes Zinnbauer &mdash; Powered by Linux &mdash; Made with &hearts; in Berlin.

            </div>
        </div>
    </footer>
{% endblock %}
