{% extends 'base.html.twig' %}

{% block title %}
    <title>Impressum</title>
{% endblock %}

{% block body %}
    <!--  ======================================================================================================================  -->




    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">

                    <h5 class="header col s12 light"> Impressum und Copyright</h5>

                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ asset('Daten/Fotos/wallpapers/background2.jpg') }}" alt="Unsplashed background img 2"></div>
    </div>



    <!-- Karten ==================================================================================================================  -->
    <div class="container">
        <div class="row">
            <div class="col s6">
                <div class="card large blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Verantwortlich für den Inhalt:</span><br>

                        <p>Arrowdynamics.systems ist eine private Website und verfolgt keinerlei geschäftliche oder gewinnorientierte Absichten. </p><br>

                        <p>Hannes Zinnbauer <br>
                            Landsberger Allee 378a <br>
                            12681 Berlin<br><br>
                            <div class="valign-wrapper">
                                <i class="material-icons">phone_in_talk</i><p>: 0151 551 64-304 (08:00 - 16:00 Uhr) </p>
                    </div>
                    <div class="valign-wrapper">
                        <i class="material-icons">mail_outline</i><p>: admin@arrowdynamics.systems</p>
                    </div><br>
                    Bitte wenden Sie sich bei allen Fragen und Anliegen zum Thema Datenschutz an unseren Verantwortlichen für den Datenschutz: <br><br>
                    <div class="valign-wrapper">
                        <i class="material-icons">mail_outline</i><p>: datenschutz@arrowdynamics.systems</p>
                    </div><br>

                    </p><br><br><br><br>
                </div>

            </div>
        </div>
        <div class="col s6">
            <div class="card large blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Copyright und Content use:</span><br>
                    <p>Sie dürfen alle Inhalte dieser Website frei benutzen und einsetzen, kopieren, weitergeben und verbreiten.
                        Sie dürfen die Inhalte sowohl für private als auch für kommerzielle Zwecke sowie zur Lehre nutzen.<br>
                        Es ist es Ihnen nicht gestattet, Inhalte zu verändern oder verändert weiterzugeben, sie als Ihre eigenen Inhalte auszugeben oder sie zu verkaufen.
                        Sie dürfen keine Copyright-Hinweise aus den Inhalten entfernen.<br><br>
                        <span class="card-title">Haftungsausschluss:</span><br>
                        Alle Inhalte werden rein informativ zu privaten Zwecken veröffentlicht. Es wird keine Haftung für die Inhalte oder die Konsequenzen aus deren
                        Verwendung übernommen.
                    </p>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s12">
            <div class="card red darken-2">
                <div class="card-content white-text">
                    <span class="card-title">Externe Links und Bildrechte:</span><br>
                    <p>Es wird keine Haftung für Inhalte von Websites übernommen, auf die mit externen Links verwiesen wird. Bitte beachten Sie zu diesem Thema die Hinweise unter 10 F) (externe Links) in der <a href="datenschutz.html">Datenschutzerklärung</a>. Externe Links auf dieser Website sind eindeutig und unmittelbar mit dem Verweis {externer Link} in geschweiften Klammern gekennzeichnet. Soweit nicht anders angegeben, liegen die Bildrechte für alle Bilder entweder beim Betreiber oder unterliegen einer Public Domain License.
                    </p>
                </div>
            </div>

        </div>
    </div>
    </div>
    <!-- Ende Karten =============================================================================================================  -->



    <footer class="page-footer teal">





        <div class="footer-copyright">
            <div class="container">
                <!-- Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>-->
                &copy; 2018-2019 Hannes Zinnbauer &mdash; Powered by Linux &mdash; Made with &hearts; in Berlin.

            </div>
        </div>
    </footer>
{% endblock %}
