{% extends 'base.html.twig' %}

{% block title %}
    <title>mathematik</title>
{% endblock %}

{% block body %}
    <!--  ======================================================================================================================  -->




    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">

                    <h5 class="header col s12 light"> Mathematik</h5>

                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ asset('Daten/Fotos/wallpapers/background2.jpg') }}" alt="Unsplashed background img 2"></div>
    </div>



    <!-- Karten ==================================================================================================================  -->
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card grey darken-2">
                    <div class="card-content white-text">
                        <span class="card-title">Fachartikel zur Mathematik:</span><br>
                        <p>Es wird keine Haftung für Inhalte von Websites übernommen, auf die mit externen Links verwiesen wird. Externe Links sind als solche
                            gekennzeichnet. Soweit nicht anders angegeben, liegen die Bildrechte für alle Bilder entweder beim Betreiber oder unterliegen einer
                            Public Domain License.
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <div class="card blue darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Die Grundlagen der Transformatoren</span><br>
                        <p>Wie funktioniert ein Transformator, welche elektrotechnischen Gesetze gelten? Dieser Artikel erläutert die Grundlagen der Transformatoren.<br><br>
                        <div class="valign-wrapper">
                            <a href="{{ asset('Daten/PDF/etechnik/Trafos.PDF') }}"><i class="white-text small material-icons">file_download</i></a> Download PDF (256 kB)
                        </div>

                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <div class="card blue darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Blindleistungskompensation im Einphasennetz</span><br>
                            <p>Im Wechselstromnetz treten verschiedene Arten von Leistungen auf; dieser Artikel erklärt, wie diese zustande kommen und wie sie berechnet werden.<br><br>
                            <div class="valign-wrapper">
                                <a href="{{ asset('Daten/PDF/etechnik/Blindleistung.pdf') }}"><i class="white-text small material-icons">file_download</i></a> Download PDF (372 kB)
                            </div>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <div class="card blue darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Die Reaktanz der Drosseln mit Eisenkern</span><br>
                        <p>In diesem Artikel wird dargelegt, wie die Reaktanz von Drosselspulen mit Eisenkern berechnet werden kann.<br><br>
                        <div class="valign-wrapper">
                            <a href="{{ asset('Daten/PDF/etechnik/Drossel.PDF') }}"><i class="white-text small material-icons">file_download</i></a> Download PDF (142 kB)
                        </div>

                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <div class="card blue darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Die Schwebende Kugel im Magnetfeld</span><br>
                            <p>Wie kann eine Eisenkugel frei in der Luft schweben? Der Artikel erklärt die Mathematik und die nötige Regelungstechnik dafür.<br><br>
                            <div class="valign-wrapper">
                                <a href="{{ asset('Daten/PDF/etechnik/Kugel.pdf') }}"><i class="white-text small material-icons">file_download</i></a> Download PDF (101 kB)
                            </div>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <div class="card blue darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Leistungen im Drehstromnetz</span><br>
                        <p>Dieser Grundlagenartikel erläutert die Berechnung der Leistungen in Drehstromnetzen mittels komplexer Zahlen und Zeigern.<br><br>
                        <div class="valign-wrapper">
                            <a href="{{ asset('Daten/PDF/etechnik/LeistDreh.pdf') }}"><i class="white-text small material-icons">file_download</i></a> Download PDF (142 kB)
                        </div>

                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <div class="card blue darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Zur Parallelschaltung der Transformatoren</span><br>
                            <p>Transformatoren können nur unter bestimmten Bedingungen parallel geschaltet werden. Der Artikel erläutert diese.<br><br>
                            <div class="valign-wrapper">
                                <a href="{{ asset('Daten/PDF/etechnik/partraf.pdf') }}"><i class="white-text small material-icons">file_download</i></a> Download PDF (101 kB)
                            </div>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="card blue darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Sternpunktbehandlung elektrischer Netze</span><br>
                        <p>Die Sternpunkte von Drehstromnetzen können auf verschiedene Weise geschaltet werden. Es wird beschrieben, worin diese Arten bestehen.<br><br>
                        <div class="valign-wrapper">
                            <a href="{{ asset('Daten/PDF/etechnik/sternp.PDF') }}"><i class="white-text small material-icons">file_download</i></a> Download PDF (142 kB)
                        </div>

                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <div class="card blue darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Funktionsweise der Stoßgeneratoren</span><br>
                            <p>Stoßgeneratoren dienen der Erzeugung sehr hoher Impulsspannungen. Der Artikel erläutert ihre Funktionsweise.<br><br>
                            <div class="valign-wrapper">
                                <a href="{{ asset('Daten/PDF/etechnik/Stossgeneratoren.pdf') }}"><i class="white-text small material-icons">file_download</i></a> Download PDF (101 kB)
                            </div>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="card blue darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Theorie der Symmetrischen Komponenten</span><br>
                        <p>Drehstromnetze können mithilfe der Methode der Symmetrischen Komponenten berechnet werden. Die Grundlagen werden hier erläutert.<br><br>
                        <div class="valign-wrapper">
                            <a href="{{ asset('Daten/PDF/etechnik/symm.PDF') }}"><i class="white-text small material-icons">file_download</i></a> Download PDF (88 kB)
                        </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <div class="card blue darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Übertemperatur von Wicklungen</span><br>
                            <p>Der Artikel erläutert die Bestimmung der mittleren Wicklungsübertemperatur aus einer Messung von Widerstand und Temperatur.<br><br>
                            <div class="valign-wrapper">
                                <a href="{{ asset('Daten/PDF/etechnik/Temp.pdf') }}"><i class="white-text small material-icons">file_download</i></a> Download PDF (89 kB)
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <div class="card blue darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Die Kurzschlussspannung bei Transformatoren</span><br>
                        <p>Der Artikel erläutert das Verfahren zur Berechnung der Kurzschlussspannung u<sub>k</sub> bei luftgekühlten Leistungstransformatoren.<br><br>
                        <div class="valign-wrapper">
                            <a href="{{ asset('Daten/PDF/etechnik/uk.PDF') }}"><i class="white-text small material-icons">file_download</i></a> Download PDF (111 kB)
                        </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <div class="card blue darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Die Grundlagen der Stromrichter</span><br>
                            <p>Der Artikel erläutert Funktionsweise und Grundlagen von modernen Stromrichtern der Leistungselektronik.<br><br>
                            <div class="valign-wrapper">
                                <a href="{{ asset('Daten/PDF/etechnik/stromr.pdf') }}"><i class="white-text small material-icons">file_download</i></a> Download PDF (3,2 MB)
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <div class="card blue darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Berechnung eines dreipoligen Kurzschlusses</span><br>
                        <p>Elektrische Fehler in Energienetzen müssen beherrscht werden. Beispielhaft wird die Berechnung eines dreipoligen Kurzschlusses gezeigt.<br><br>
                        <div class="valign-wrapper">
                            <a href="{{ asset('Daten/PDF/etechnik/kurzsch.PDF') }}"><i class="white-text small material-icons">file_download</i></a> Download PDF (69 kB)
                        </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <div class="card blue darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Die Erdschluss-Löschspulen</span><br>
                            <p>Erschluss-Löschspulen (Petersenspulen) werden als Sternpunktbehandlung in elektrischen Netzen eingesetzt. Der Artikel erklärt die Grundlagen.<br><br>
                            <div class="valign-wrapper">
                                <a href="{{ asset('Daten/PDF/etechnik/petersen.PDF') }}"><i class="white-text small material-icons">file_download</i></a> Download PDF (651 kB)
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <div class="card blue darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Das Bahnstromsystem</span><br>
                        <p>Dieser Artikel erläutert die grundlegende Funktionsweise und den Aufbau des einphasigen deutschen Bahnstrom-Systems.<br><br>
                        <div class="valign-wrapper">
                            <a href="{{ asset('Daten/PDF/etechnik/bahn.pdf') }}"><i class="white-text small material-icons">file_download</i></a> Download PDF (85 kB)
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>













    </div>





















    <!-- Ende Karten =============================================================================================================  -->



    <footer class="page-footer teal">





        <div class="footer-copyright">
            <div class="container">
                <!-- Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>-->
                &copy; 2018-2019 Hannes Zinnbauer &mdash; Powered by Linux &mdash; Made with &hearts; in Berlin.

            </div>
        </div>
    </footer>

{% endblock %}
