{% extends 'base.html.twig' %}

{% block title %}
    <title>Datenschutz</title>
{% endblock %}

{% block body %}
    <!--  ======================================================================================================================  -->




    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">

                    <h5 class="header col s12 light"> Datenschutzerklärung gemäß EU-DSGVO</h5>

                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ asset('Daten/Fotos/wallpapers/background2.jpg') }}" alt="Unsplashed background img 2"></div>
    </div>



    <!-- Karten ==================================================================================================================
      <div class="container">
        <div class="row">
              <div class="col s6">
                <div class="card large blue darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">Verantwortlich für den Inhalt:</span><br>
                    <p>Hannes Zinnbauer <br>
                       Landsberger Allee 378a <br>
                       12681 Berlin<br><br>
                       <div class="valign-wrapper">
                           <i class="material-icons">phone_in_talk</i><p>: 0151 551 64-304 (08:00 - 16:00 Uhr) </p>
                       </div>
                       <div class="valign-wrapper">
                           <i class="material-icons">mail_outline</i><p>: admin@arrowdynamics.systems</p>
                       </div>
                     </p><br><br><br><br>
                  </div>

                </div>
              </div>
              <div class="col s6">
                <div class="card large blue darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">Copyright und Content use:</span><br>
                    <p>Sie dürfen alle Inhalte dieser Website frei benutzen und einsetzen, kopieren, weitergeben und verbreiten.
                    Sie dürfen die Inhalte sowohl für private als auch für kommerzielle Zwecke sowie zur Lehre nutzen.<br>
                    Es ist es Ihnen nicht gestattet, Inhalte zu verändern oder verändert weiterzugeben, sie als Ihre eigenen Inhalte auszugeben oder sie zu verkaufen.
                    Sie dürfen keine Copyright-Hinweise in den Inhalten entfernen.<br>
                    Alle Inhalte werden rein informativ zu privaten Zwecken veröffentlicht. Es wird keine Haftung für die Inhalte oder die Konsequenzen aus deren
                    Verwendung übernommen.
                     </p>
                  </div>

                </div>
              </div>
            </div>
  -->
    <div class="row">
        <div class="col s12">
            <div class="card indigo lighten-5">
                <div class="card-content black-text ">
                    <span class="card-title">Datenschutzerklärung:</span><br>

                    Gültige Version <b>1.5</b>, zuletzt überarbeitet am: <b>25.05.2018</b><br><br>


                    <p>Die nachfolgende Datenschutzerklärung gilt für die Nutzung des privaten, nichtkommerziellen Online-Angebots <b>www.arrowdynamics.systems</b>, nachfolgend genannt „Website“.
                        Der Betreiber, nachfolgend "wir"/"uns", misst dem Datenschutz große Bedeutung bei. Die Erhebung und Verarbeitung Ihrer personenbezogenen Daten geschieht unter Beachtung der geltenden datenschutzrechtlichen Vorschriften, insbesondere der Datenschutzgrundverordnung (DSGVO), sowie dem Stand der Technik in seiner jeweils aktuellen Form. Besucher der Website werden im folgenden als "User" und/oder "Nutzer" bezeichnet. Im Hinblick auf die weiter verwendeten Begrifflichkeiten, wie z.B. „Verarbeitung“ oder „Verantwortlicher“ verweisen wir auf die Definitionen im Art. 4 der Datenschutzgrundverordnung (DSGVO).</p><br>

                    <span class="card-title">(1) Verantwortlicher</span><br>
                    <p>Verantwortlicher für die Erhebung, Verarbeitung und Nutzung Ihrer personenbezogenen Daten im Sinne von Art. 4 Nr. 7 DSGVO ist für den Bereich dieser privaten Website:<br>


                        <div class="row">
                            <div class="col s12 m6">
                                <div class="card blue-grey darken-1">
                                    <div class="card-content white-text">
                                        <span class="card-title">Verantwortlicher für den Datenschutz:</span>
                    <p><br>Hannes Zinnbauer <br>
                        Landsberger Allee 378a<br>
                        12681 Berlin<br><br></p>
                    <div class="valign-wrapper">
                        <i class="material-icons">phone_in_talk</i><p>: 0151 551 64-304 (08:00 - 16:00 Uhr) </p>
                    </div>
                    <div class="valign-wrapper">
                        <i class="material-icons">mail_outline</i><p>: datenschutz@arrowdynamics.systems</p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    Sofern Sie der Erhebung, Verarbeitung oder Nutzung Ihrer Daten durch uns nach Maßgabe dieser Datenschutzbestimmungen insgesamt oder für einzelne Maßnahmen widersprechen wollen, können Sie Ihren Widerspruch an den Verantwortlichen gemäß (1) richten. Hierfür können Sie den Postweg wählen oder eine E-Mail senden: <b>datenschutz@arrowdynamics.systems</b>. Sie finden hier das <a href="impressum.html">Impressum</a> dieser Website.
    Sie können diese Datenschutzerklärung jederzeit speichern und ausdrucken; beachten Sie jedoch, dass jeweils nur die hier online hinterlegte Version Gültigkeit besitzt.</p><br>

    <span class="card-title">(2)	Allgemeine Zwecke der Datenverarbeitung</span><br>
    <p>Wir verwenden personenbezogene Daten zum Zweck des Betriebs der Website (Hosting), zur Kommunikation mit den Usern auf deren Wunsch (E-Mail) und zur Erstellung statistischer Informationen über die Auslastung der Website (anonyme, serverseitige Erfassung). Die Daten dienen ferner der Aufrechterhaltung oder Durchsetzung von IT-Sicherheitsmaßnahmen sowie ggf. der Befolgung gesetzlicher Erfordernisse. Generell sind die Arten der verarbeiteten Daten: Bestandsdaten (z.B. Namen, Adressen), Kontaktdaten (z.B. E-Mail, Telefonnummern), Inhaltsdaten (z.B. Texteingaben, Fotografien, Videos), Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten) sowie Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen). Kategorien betroffener Personen sind Besucher und Nutzer des Onlineangebotes (nachfolgend bezeichnen wir die betroffenen Personen zusammenfassend auch als „Nutzer“ oder "User"). <br><br>

        <b>Verwendete Begrifflichkeiten</b><br>
    <ol>

        <li><b>„Personenbezogene Daten“</b> sind alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person (im Folgenden „betroffene Person“) beziehen; als identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung (z.B. Cookie) oder zu einem oder mehreren besonderen Merkmalen identifiziert werden kann, die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind.</li>

        <li><b>„Verarbeitung“</b> ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführte Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten. Der Begriff reicht weit und umfasst praktisch jeden Umgang mit Daten.</li>

        <li><b>„Pseudonymisierung“</b> die Verarbeitung personenbezogener Daten in einer Weise, dass die personenbezogenen Daten ohne Hinzuziehung zusätzlicher Informationen nicht mehr einer spezifischen betroffenen Person zugeordnet werden können, sofern diese zusätzlichen Informationen gesondert aufbewahrt werden und technischen und organisatorischen Maßnahmen unterliegen, die gewährleisten, dass die personenbezogenen Daten nicht einer identifizierten oder identifizierbaren natürlichen Person zugewiesen werden.</li>

        <li><b>„Profiling“</b> jede Art der automatisierten Verarbeitung personenbezogener Daten, die darin besteht, dass diese personenbezogenen Daten verwendet werden, um bestimmte persönliche Aspekte, die sich auf eine natürliche Person beziehen, zu bewerten, insbesondere um Aspekte bezüglich Arbeitsleistung, wirtschaftliche Lage, Gesundheit, persönliche Vorlieben, Interessen, Zuverlässigkeit, Verhalten, Aufenthaltsort oder Ortswechsel dieser natürlichen Person zu analysieren oder vorherzusagen.</li>

        <li> Als <b>„Verantwortlicher“</b> wird die natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten entscheidet, bezeichnet.</li>

        <li><b>„Auftragsverarbeiter“</b> eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die personenbezogene Daten im Auftrag des Verantwortlichen verarbeitet.</li><br>
    </ol>

    <b>Maßgebliche Rechtsgrundlagen</b>
    <p>Nach Maßgabe des Art. 13 DSGVO teilen wir Ihnen die Rechtsgrundlagen unserer Datenverarbeitungen mit. Sofern die Rechtsgrundlage in der Datenschutzerklärung nicht genannt wird, gilt Folgendes: Die Rechtsgrundlage für die Einholung von Einwilligungen ist Art. 6 Abs. 1 lit. a und Art. 7 DSGVO, die Rechtsgrundlage für die Verarbeitung zur Erfüllung unserer Leistungen und Durchführung vertraglicher Maßnahmen sowie Beantwortung von Anfragen ist Art. 6 Abs. 1 lit. b DSGVO, die Rechtsgrundlage für die Verarbeitung zur Erfüllung unserer rechtlichen Verpflichtungen ist Art. 6 Abs. 1 lit. c DSGVO, und die Rechtsgrundlage für die Verarbeitung zur Wahrung unserer berechtigten Interessen ist Art. 6 Abs. 1 lit. f DSGVO. Für den Fall, dass lebenswichtige Interessen der betroffenen Person oder einer anderen natürlichen Person eine Verarbeitung personenbezogener Daten erforderlich machen, dient Art. 6 Abs. 1 lit. d DSGVO als Rechtsgrundlage. Bei Abweichungen zwischen dieser Datenschutzerklärung und dem maßgeblichen Gesetz gilt generell ausschließlich der Gesetzestext; Zitate aus dem Gesetz haben in dieser Erklärung erläuternden Charakter. </p>







    </p><br>

    <span class="card-title">(3)	Welche Daten wir erheben und aus welchen Gründen</span><br>
    <b>3.1	Hosting</b><br>
    <p>Die von uns in Anspruch genommenen Hosting-Leistungen dienen der Zurverfügungstellung der folgenden Leistungen: Infrastruktur- und Plattformdienstleistungen, Rechenkapazität, Speicherplatz und Datenbankdienste, Sicherheitsleistungen (Virenscanner und Firewalls) sowie technische Wartungsleistungen, die wir zum Zweck des Betriebs der Website einsetzen.
        Hierbei verarbeiten wir, bzw. unser Hostinganbieter Bestandsdaten, Kontaktdaten, Inhaltsdaten, Vertragsdaten, Nutzungsdaten, Meta- und Kommunikationsdaten von Nutzern, Interessenten und Besuchern dieses Onlineangebotes auf Grundlage unserer berechtigten Interessen an einer effizienten und sicheren Zurverfügungstellung dieses Onlineangebotes gem. Art. 6 Abs. 1 lit. f DSGVO i.V.m. Art. 28 DSGVO (Abschluss Auftragsverarbeitungsvertrag).</p><br>

    <b>3.2	Zugriffsdaten</b><br>
    <p>Wir sammeln gewisse Informationen über Sie, wenn Sie diese Website nutzen. Wir erfassen automatisch Informationen über Ihr Nutzungsverhalten und Ihre Interaktion mit uns und registrieren Daten zu Ihrem Computer oder Mobilgerät. Wir erheben, speichern und nutzen Daten über jeden Zugriff auf unsere Website (sogenannte Serverlogfiles). Zu diesen Zugriffsdaten gehören:</p>

    <ol>
        <li>Name und URL der vom Nutzer abgerufenen Datei, Anzahl der Abrufe</li>
        <li>Datum und Uhrzeit des Abrufs</li>
        <li>übertragene Datenmenge(n)</li>
        <li>Meldung über erfolgreichen Abruf (HTTP response code)</li>
        <li>Browsertyp und Browserversion des Nutzers</li>
        <li>Betriebssystem des Nutzers</li>
        <li>Referer URL (d.h. die zuvor besuchte Seite) des Nutzers</li>
        <li>Websites, die vom System des Nutzers über unsere Website aufgerufen werden</li>
        <li>Internet-Service-Provider des Nutzers</li>
        <li>IP-Adresse des Nutzers und der anfragende Provider</li>
    </ol>

    <p>Wir nutzen diese Protokolldaten anonym, ohne Zuordnung zu Ihrer Person oder sonstiger Profilerstellung für statistische Auswertungen zum Zweck des Betriebs, der Sicherheit und der Optimierung unserer Website, aber auch zur anonymen Erfassung der Anzahl der Besucher auf unserer Website (traffic) sowie zum Umfang und zur Art der Nutzung unserer Website und Dienste. Aufgrund dieser Informationen können wir ggf. personalisierte und standortbezogene Inhalte zur Verfügung stellen und den Datenverkehr analysieren, Fehler suchen und beheben und unsere Dienste verbessern.</p>
    <p>Hierin liegt auch unser berechtigtes Interesse gemäß Art 6 Abs. 1 S. 1 f) DSGVO.
        Wir behalten uns vor, die Protokolldaten nachträglich zu überprüfen, wenn aufgrund konkreter Anhaltspunkte der berechtigte Verdacht einer rechtswidrigen Nutzung besteht. IP-Adressen speichern wir für einen begrenzten Zeitraum in den Logfiles, wenn dies für Sicherheitszwecke erforderlich oder für die Leistungserbringung oder die Abrechnung einer Leistung nötig ist, z.B. wenn Sie eines unserer Angebote nutzen. Wir löschen die IP-Adresse, wenn diese für Sicherheitszwecke nicht mehr erforderlich ist. IP-Adressen speichern wir auch dann, wenn wir den konkreten Verdacht einer Straftat im Zusammenhang mit der Nutzung unserer Website haben. Außerdem speichern wir als Teil Ihres eventuell vorhandenen Accounts das Datum Ihres letzten Besuchs (z.B. bei Registrierung, Login, Klicken von Links etc.). Alle gespeicherten Daten werden ausschließlich in Rechenzentren innerhalb der Bundesrepublik Deutschland verarbeitet und gespeichert.</p><br>


    <b>3.3	Nichtverwendung von Cookies</b><br>
    <p>Diese Website verwendet generell <b>keine</b> Cookies oder andere Analyse-Programme oder andere Techniken zur Auswertung Ihres Nutzungsverhaltens. Wenn Sie Webseiten dieses Internetauftritts aufrufen, wird Ihre IP-Adresse aus technischer Notwendigkeit zum Aufbau der Verbindung und zur Datenübertragung verarbeitet. Erst nach Datenabruf und Löschung der IP-Adresse werden in diesem Zusammenhang auf dem Server unseres Hosters in anonymer Form protokolliert:</p>
    <ol>
        <li>Datum und Uhrzeit der Anforderung</li>
        <li>Name der angeforderten Datei</li>
        <li>Zugriffsstatus (Datei übertragen, Datei nicht gefunden, etc.)</li>
        <li>übertragene Datenmenge</li>
    </ol>

    <p><b>Drittanbieter</b> von Plugins (siehe Punkt 10) verwenden möglicherweise sogenannte Session-Cookies, um ihre Plugins zu optimieren. Ein Session-Cookie ist eine kleine Textdatei, die von den jeweiligen Servern beim Besuch einer Internetseite verschickt und auf Ihrer Festplatte zwischengespeichert wird. Diese Datei als solche enthält eine sogenannte Session-ID, mit welcher sich verschiedene Anfragen Ihres Browsers der gemeinsamen Sitzung zuordnen lassen. Dadurch kann Ihr Rechner wiedererkannt werden, wenn Sie auf die betreffende Website zurückkehren. Diese Cookies werden gelöscht, nachdem Sie Ihren Browser schließen. Sie dienen z.B. dazu, dass Sie eine Warenkorbfunktion über mehrere Seiten hinweg nutzen können.
        Drittanbieter (siehe Punkt 10) verwenden in geringem Umfang möglicherweise auch persistente Cookies (ebenfalls kleine Textdateien, die auf Ihrem Endgerät abgelegt werden), die auf Ihrem Endgerät verbleiben und es uns ermöglichen, Ihren Browser beim nächsten Besuch wiederzuerkennen. Diese Cookies werden auf Ihrer Festplatte gespeichert und löschen sich nach der vorgegebenen Zeit selbsttändig. Ihre Lebensdauer beträgt 1 Monat bis 10 Jahre. So können wir Ihnen unser Angebot nutzerfreundlicher, effektiver und sicherer präsentieren und Ihnen beispielsweise speziell auf Ihre Interessen abgestimmte Informationen auf der Seite anzeigen (z.B. Positionsdaten in Google Maps).
        Unser berechtigtes Interesse an der Nutzung der Cookies gemäß Art 6 Abs. 1 S. 1 f) DSGVO liegt darin, unsere Website nutzerfreundlicher, effektiver und sicherer zu machen.
        In den Cookies werden etwa folgende Daten und Informationen gespeichert:</p>

    <ol>
        <li>Log-In-Informationen</li>
        <li>Spracheinstellungen</li>
        <li>eingegebene Suchbegriffe</li>
        <li>Informationen über die Anzahl der Aufrufe unserer Website sowie Nutzung einzelner Funktionen unseres Internetauftritts.</li>
    </ol>


    <p>Bei Aktivierung des Cookies wird diesem eine Identifikationsnummer zugewiesen. Eine Zuordnung Ihrer personenbezogenen Daten zu dieser Identifikationsnummer wird nicht vorgenommen. Ihr Name, Ihre IP-Adresse oder ähnliche Daten, die eine Zuordnung des Cookies zu Ihnen ermöglichen würden, werden nicht in den Cookie eingelegt. Auf Basis der Cookie-Technologie erhalten wir lediglich anonymisierte Informationen, beispielsweise darüber, welche Seiten der Website besucht wurden, welche Dateien angesehen wurden, etc.
        Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies vorab informiert werden und im Einzelfall entscheiden können, ob Sie die Annahme von Cookies für bestimmte Fälle oder generell ausschließen, oder dass Cookies komplett verhindert werden. Dadurch kann die Funktionalität dieser Website oder die Funktionalität von Drittanbieter-Plugins (z.B. Google Maps, YouTube, Vimeo etc.) eingeschränkt werden.</p><br>

    <b>3.4	Daten zur Erfüllung unserer vertraglichen Pflichten</b><br>
    <p>Wir verarbeiten im Bedarfsfalle personenbezogene Daten, die wir zur Erfüllung unserer vertraglichen Pflichten benötigen, etwa Name, Adresse, E-Mail-Adresse, Rechnungs- und Zahlungsdaten. Die Erhebung dieser Daten ist für den Vertragsschluss erforderlich. Es werden nur jene Daten erhoben, die von Gesetzes wegen für diesen Vorgang zwingend erforderlich sind (Datenminimierung).
        Die Löschung der Daten erfolgt nach Ablauf der Gewährleistungsfristen und gesetzlicher Aufbewahrungsfristen. Daten, die mit einem Nutzerkonto verknüpft sind (siehe unten), bleiben in jedem Fall für die Zeit der Führung dieses Kontos erhalten.
        Die Rechtgrundlage für die Verarbeitung dieser Daten ist Art. 6 Abs. 1 S. 1 b) DSGVO, denn diese Daten werden benötigt, damit wir unsere vertraglichen Pflichten Ihnen gegenüber erfüllen können. </p><br>

    <b>3.5	Nutzerkonto</b><br>
    <p>Sie können auf unserer Website möglicherweise ein Nutzerkonto anlegen. Wünschen Sie dies, so benötigen wir die beim Login abgefragten personenbezogenen Daten. Beim späteren Einloggen werden nur Ihre Email bzw. Benutzername und das von Ihnen gewählte Passwort benötigt.
        Für die Neuregistrierung erheben wir Stammdaten (z.B. Name, Adresse), Kommunikationsdaten (z.B. E-Mail-Adresse) sowie Zugangsdaten (Benutzername und Passwort).
        Um Ihre ordnungsgemäße Anmeldung sicherzustellen und unautorisierte Anmeldungen durch Dritte zu verhindern, erhalten Sie nach Ihrer Registrierung einen Aktivierungslink per E-Mail, um Ihren Account zu aktivieren. Erst nach erfolgter Registrierung speichern wir die von Ihnen übermittelten Daten dauerhaft in unserem System.
        Sie können ein einmal angelegtes Nutzerkonto jederzeit von uns löschen lassen, ohne dass hierfür andere als die Übermittlungskosten nach den Basistarifen entstehen. Eine Mitteilung in Textform an die unter Ziffer 1 genannten Kontaktdaten (z.B. E-Mail, Fax, Brief) reicht hierfür aus. Wir werden dann Ihre gespeicherten personenbezogenen Daten und Ihren Account vollständig löschen, soweit wir diese nicht noch zur Abwicklung von Vorgängen oder aufgrund gesetzlicher Aufbewahrungspflichten oder gesetzlicher Anordnungen speichern müssen. Sämtliche Daten werden physikalisch und rechtlich nur in Rechenzentren innerhalb der Bundesrepublik Deutschland gespeichert.
        Rechtgrundlage für die Verarbeitung dieser Daten ist Ihre Einwilligung gemäß Art. 6 Abs. 1 S. 1 a) DSGVO.
        Wenn Nutzer Kommentare oder sonstige Beiträge hinterlassen, können ihre IP-Adressen auf Grundlage unserer berechtigten Interessen im Sinne des Art. 6 Abs. 1 lit. f. DSGVO für 7 Tage gespeichert werden. Das erfolgt zu unserer Sicherheit, falls jemand in Kommentaren und Beiträgen widerrechtliche Inhalte hinterlässt (Beleidigungen, verbotene politische Propaganda, etc.). In diesem Fall können wir selbst für den Kommentar oder Beitrag belangt werden und sind daher an der Identität des Verfassers interessiert.
        Des Weiteren behalten wir uns vor, auf Grundlage unserer berechtigten Interessen gem. Art. 6 Abs. 1 lit. f. DSGVO, die Angaben der Nutzer zwecks Spamerkennung zu verarbeiten.
        Die im Rahmen der Kommentare und Beiträge angegebenen Daten, werden von uns bis zum Widerspruch der Nutzer dauerhaft gespeichert.

    </p><br>

    <b>3.6	Newsletter</b><br>
    <p>Zur Anmeldung für den Newsletter werden die im Anmeldeprozess abgefragten Daten benötigt. Die Anmeldung zum Newsletter wird protokolliert. Nach der Anmeldung erhalten Sie auf die angegebene E-Mail-Adresse eine Nachricht, in der Sie um die Bestätigung der Anmeldung gebeten werden ("Double Opt-in"). Dies ist notwendig, damit sich nicht Dritte unberechtigt mit ihrer Email-Adresse anmelden können.
        Sie können jederzeit Ihre Einwilligung zum Empfang des Newsletters widerrufen und somit den Newsletter abbestellen.
        Wir speichern die Anmeldedaten solange diese für den Versand des Newsletters benötigt werden. Die Protokollierung der Anmeldung und die Versandadresse speichern wir, solange ein Interesse am Nachweis der ursprünglich gegebenen Einwilligung bestand, in der Regel sind das die Verjährungsfristen für zivilrechtliche Ansprüche, mithin maximal drei Jahre.
        Rechtsgrundlage für den Versand des Newsletters ist Ihre Einwilligung gem. Art. 6 Abs. 1 S. 1 a) iVm Art. 7 DSGVO iVm § 7 Abs. 2 Nr. 3 UWG. Rechtsgrundlage für die Protokollierung der Anmeldung ist unser berechtigtes Interesse am Nachweis, dass der Versand mit Ihrer Einwilligung vorgenommen wurde.
        Sie können die Anmeldung jederzeit rückgängig machen, ohne dass hierfür andere als die Übermittlungskosten nach den Basistarifen entstehen. Eine Mitteilung in Textform an die unter Ziffer 1 genannten Kontaktdaten (z.B. E-Mail, Fax, Brief) reicht hierfür aus. Sie finden Sie auch in jedem Newsletter einen Abmelde-Link. Sie können ferner zu jedem Zeitpunkt den Erhalt des Newsletters kündigen, indem Sie eine E-Mail an die Adresse <b>unsubscribe@arrowdynamics.systems</b> von der Adresse aus senden, mit der die Anmeldung stattgefunden hat. Das Austragen aus der Verteilerliste sowie die Löschung der damit verbundenen Daten kann bis zu 24 Stunden in Anspruch nehmen.</p><br>

    <b>3.7	E-Mail Kontakt</b><br>
    <p>Wenn Sie mit uns per E-Mail in Kontakt treten, verarbeiten wir Ihre Angaben zur Bearbeitung der Anfrage sowie für den Fall, dass Anschlussfragen entstehen.
        Erfolgt die Datenverarbeitung zur Durchführung vorvertraglicher Maßnahmen, die auf Ihre Anfrage hin erfolgen, bzw., wenn bereits ein Vertragsverhältnis besteht, zur Durchführung des Vertrages, ist Rechtsgrundlage für diese Datenverarbeitung Art. 6 Abs. 1 S. 1 b) DSGVO.
        Weitere personenbezogene Daten verarbeiten wir nur, wenn Sie dazu einwilligen (Art. 6 Abs. 1 S. 1 a) DSGVO) oder wir ein berechtigtes Interesse an der Verarbeitung Ihrer Daten haben (Art. 6 Abs. 1 S. 1 f) DSGVO). Ein berechtigtes Interesse liegt z.B. darin, auf Ihre E-Mail zu antworten. E-Mails und Kontaktdaten sowie alle Daten, die im Rahmen der Kommunikation mit den Nutzern benötigt werden oder anfallen (z.B. gesendete Bilder, Fotos, Dateien), werden nur auf Serverstandorten in Deutschland gespeichert und nach dem Ende der Kommunikation gelöscht, sofern keine Übereinkunft darüber besteht, diese Daten dauerhaft zu erhalten bzw. zu speichern. Physikalischer Standort der E-Mail-Server dieser Website ist die Bundesrepublik Deutschland. Bitte beachten Sie, dass E-Mail generell kein sicheres Kommunikationsmedium ist. Sofern Sie einen sicheren Kommunikationskanal benötigen, senden Sie uns einen Brief. Sie finden die Postadresse im <a href="impressum.html">Impressum</a>.  </p><br>


    <span class="card-title">(4) Nichtverwendung von Google Analytics</span><br>
    <p>Aus Gründen des Datenschutzes wird Google Analytics auf dieser Website generell <b>NICHT</b> verwendet.
        <!--
        Bitte beachten Sie jedoch, dass Drittanbieter (siehe Punkt 10) möglicherweise Google Analytics einsetzen können, worauf der Betreiber dieser Website keinen direkten Einfluss hat. Hierzu gilt wie folgt:<br>

        Drittanbieter können auf Grundlage ihrer berechtigten Interessen (d.h. Interesse an der Analyse, Optimierung und wirtschaftlichem Betrieb des Onlineangebotes im Sinne des Art. 6 Abs. 1 lit. f. DSGVO) Google Analytics einsetzen, einen Webanalysedienst der Google LLC („Google“) ein. Google verwendet Cookies. Die durch das Cookie erzeugten Informationen über Benutzung des Onlineangebotes durch die Nutzer werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.<br>

        Google ist unter dem Privacy-Shield-Abkommen zertifiziert und bietet hierdurch eine Garantie, das europäische Datenschutzrecht einzuhalten (https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active).<br>

        Google wird diese Informationen in unserem Auftrag benutzen, um die Nutzung unseres Onlineangebotes durch die Nutzer auszuwerten, um Reports über die Aktivitäten innerhalb dieses Onlineangebotes zusammenzustellen und um weitere, mit der Nutzung dieses Onlineangebotes und der Internetnutzung verbundene Dienstleistungen, uns gegenüber zu erbringen. Dabei können aus den verarbeiteten Daten pseudonyme Nutzungsprofile der Nutzer erstellt werden.<br>

        Wir setzen Google Analytics nur mit aktivierter IP-Anonymisierung ein. Das bedeutet, die IP-Adresse der Nutzer wird von Google innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt.<br>

        Die von dem Browser des Nutzers übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Die Nutzer können die Speicherung der Cookies durch eine entsprechende Einstellung ihrer Browser-Software verhindern; die Nutzer können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf ihre Nutzung des Onlineangebotes bezogenen Daten an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter folgendem Link verfügbare Browser-Plugin herunterladen und installieren: http://tools.google.com/dlpage/gaoptout?hl=de.<br>


        Die personenbezogenen Daten der Nutzer werden nach 14 Monaten gelöscht oder anonymisiert.

        Weitere Informationen zur Datennutzung durch Google, Einstellungs- und Widerspruchsmöglichkeiten, erfahren Sie in der Datenschutzerklärung von Google (https://policies.google.com/technologies/ads) sowie in den Einstellungen für die Darstellung von Werbeeinblendungen durch Google (https://adssettings.google.com/authenticated).<br>

        Alternativ zum Browser-Add-On (oder innerhalb von Browsern auf mobilen Geräten) können Sie Analytics-Opt-Out verwenden, hierbei wird ein Opt-Out-Cookie auf Ihrem Gerät abgelegt. Löschen Sie Ihre Cookies, müssen Sie diesen Link erneut klicken.


      -->








    </p><br>

    <span class="card-title">(5) Speicherdauer</span><br>
    <p>Sofern nicht anderweitig angegeben oder vereinbart, speichern wir personenbezogene Daten nur so lange, wie dies zur Erfüllung der verfolgten Zwecke notwendig ist (Datenminimierung).
        In einigen Fällen sieht der Gesetzgeber die Aufbewahrung von personenbezogenen Daten vor, etwa im Steuer- oder Handelsrecht. In diesen Fällen werden die Daten von uns lediglich für diese gesetzlichen Zwecke weiter gespeichert, aber nicht anderweitig verarbeitet und nach Ablauf der gesetzlichen Aufbewahrungsfrist gelöscht. Alle gespeicherten Daten werden ausschließlich in Rechenzentren innerhalb der Bundesrepublik Deutschland gespeichert. Sofern vom Gesetzgeber nicht anderweitig gefordert, können Sie jederzeit eine Löschung Ihrer Daten oder Teile hiervon beantragen, eine Auskunft über die gespeicherten Daten verlangen oder Zugang zu diesen Daten erhalten. Wenden Sie sich hierzu bitte an die Adresse <b>datenschutz@arrowdynamics.systems</b> oder senden Sie uns einen Brief. Sie finden die Postadresse im <a href="impressum.html">Impressum</a>. Eine ausführliche Darlegung Ihrer Rechte betreffend den Datenschutz finden Sie wie folgt unter Punkt (6).</p><br>


    <span class="card-title">(6) Ihre Rechte als von der Datenverarbeitung Betroffener</span><br>
    <p>Nach den anwendbaren Gesetzen haben Sie verschiedene Rechte bezüglich Ihrer personenbezogenen Daten. Möchten Sie diese Rechte geltend machen, so richten Sie Ihre Anfrage bitte per E-Mail oder per Post unter eindeutiger Identifizierung Ihrer Person an die in Ziffer 1 genannte Adresse oder an: <b>datenschutz@arrowdynamics.systems</b>.
        Nachfolgend finden Sie eine Übersicht über Ihre wichtigsten, diesbezüglichen Rechte.</p><br>

    <b>6.1	Recht auf Bestätigung und Auskunft (Artikel 15 DSGVO)</b><br>
    <p>Sie haben das Recht auf eine übersichtliche Auskunft über die Verarbeitung Ihrer personenbezogenen Daten.
        Im Einzelnen:
        Sie haben jederzeit das Recht, von uns eine Bestätigung darüber zu erhalten, ob Sie betreffende personenbezogene Daten verarbeitet werden. Ist dies der Fall, so haben Sie das Recht, von uns eine unentgeltliche Auskunft über die zu Ihnen gespeicherten personenbezogenen Daten nebst einer Kopie dieser Daten zu verlangen. Des Weiteren besteht ein Recht auf folgende Informationen: </p>

    <ol>
        <li>die Verarbeitungszwecke;</li>
        <li>die Kategorien personenbezogener Daten, die verarbeitet werden; </li>
        <li>die Empfänger oder Kategorien von Empfängern, gegenüber denen die personenbezogenen Daten offengelegt worden sind oder noch offengelegt werden, insbesondere bei Empfängern in Drittländern oder bei internationalen Organisationen;</li>
        <li>falls möglich, die geplante Dauer, für die die personenbezogenen Daten gespeichert werden, oder, falls dies nicht möglich ist, die Kriterien für die Festlegung dieser Dauer;</li>
        <li>das Bestehen eines Rechts auf Berichtigung oder Löschung der Sie betreffenden personenbezogenen Daten oder auf Einschränkung der Verarbeitung durch den Verantwortlichen oder eines Widerspruchsrechts gegen diese Verarbeitung;</li>
        <li>das Bestehen eines Beschwerderechts bei einer Aufsichtsbehörde;</li>
        <li>wenn die personenbezogenen Daten nicht bei Ihnen erhoben werden, alle verfügbaren Informationen über die Herkunft der Daten;</li>
        <li>das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling gemäß Art. 22 Abs. 1 und 4 DSGVO und – zumindest in diesen Fällen – aussagekräftige Informationen über die involvierte Logik sowie die Tragweite und die angestrebten Auswirkungen einer derartigen Verarbeitung für Sie.</li>
    </ol>

    <p>Werden personenbezogene Daten an ein Drittland oder an eine internationale Organisation übermittelt, so haben Sie das Recht, über die geeigneten Garantien gemäß Art. 46 DSGVO im Zusammenhang mit der Übermittlung unterrichtet zu werden.</p><br>

    <b>6.2	Recht auf Berichtigung (Artikel 16 DSGVO)</b><br>
    <p>Sie haben das Recht, von uns die Berichtigung und ggf. auch Vervollständigung Sie betreffender personenbezogener Daten zu verlangen.
        Im Einzelnen: Sie haben das Recht, von uns unverzüglich und unentgeltlich die Berichtigung Sie betreffender unrichtiger personenbezogener Daten zu verlangen. Unter Berücksichtigung der Zwecke der Verarbeitung haben Sie das Recht, die Vervollständigung unvollständiger personenbezogener Daten – auch mittels einer ergänzenden Erklärung – zu verlangen.</p><br>

    <b>6.3	Recht auf Löschung ("Recht auf Vergessenwerden", Artikel 17 DSGVO)</b><br>
    <p>In einer Reihe von Fällen sind wir verpflichtet, Sie betreffende personenbezogene Daten zu löschen.
        Im Einzelnen:
        Sie haben gemäß Art. 17 Abs. 1 DSGVO das Recht, von uns zu verlangen, dass Sie betreffende personenbezogene Daten unverzüglich gelöscht werden, und wir sind verpflichtet, personenbezogene Daten unverzüglich zu löschen, sofern einer der folgenden Gründe zutrifft:</p>

    <ol>
        <li>die personenbezogenen Daten sind für die Zwecke, für die sie erhoben oder auf sonstige Weise verarbeitet wurden, nicht mehr notwendig.</li>
        <li>Sie widerrufen Ihre Einwilligung, auf die sich die Verarbeitung gemäß Art. 6 Abs. 1 S. 1  a) DSGVO oder Art. 9 Abs. 2 a) DSGVO stützte, und es fehlt an einer anderweitigen Rechtsgrundlage für die Verarbeitung.</li>
        <li>Sie legen gemäß Art. 21 Abs. 1 DSGVO Widerspruch gegen die Verarbeitung ein und es liegen keine vorrangigen berechtigten Gründe für die Verarbeitung vor, oder Sie legen gemäß Art. 21 Abs. 2 DSGVO Widerspruch gegen die Verarbeitung ein.</li>
        <li>die personenbezogenen Daten wurden unrechtmäßig verarbeitet.</li>
        <li>die Löschung der personenbezogenen Daten ist zur Erfüllung einer rechtlichen Verpflichtung nach dem Unionsrecht oder dem Recht der Mitgliedstaaten erforderlich, dem wir unterliegen.</li>
        <li>die personenbezogenen Daten wurden in Bezug auf angebotene Dienste der Informationsgesellschaft gemäß Art. 8 Abs. 1 DSGVO erhoben.</li>
    </ol>

    <p>Haben wir die personenbezogenen Daten öffentlich gemacht und sind wir gemäß Art. 17 Abs. 1 DSGVO zu deren Löschung verpflichtet, so treffen wir unter Berücksichtigung der verfügbaren Technologie und der Implementierungskosten angemessene Maßnahmen, auch technischer Art, um für die Datenverarbeitung Verantwortliche, die die personenbezogenen Daten verarbeiten, darüber zu informieren, dass Sie von ihnen die Löschung aller Links zu diesen personenbezogenen Daten oder von Kopien oder Replikationen dieser personenbezogenen Daten verlangt haben.</p><br>


    <b>6.4	Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)</b><br>
    <p>In einer Reihe von Fällen sind Sie berechtigt, von uns eine Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
        Im Einzelnen:
        Sie haben das Recht, von uns die Einschränkung der Verarbeitung zu verlangen, wenn eine der folgenden Voraussetzungen gegeben ist:</p>

    <ol>
        <li>die Richtigkeit der personenbezogenen Daten wird von Ihnen bestritten, und zwar für eine Dauer, die es uns ermöglicht, die Richtigkeit der personenbezogenen Daten zu überprüfen,</li>
        <li>die Verarbeitung unrechtmäßig ist und Sie die Löschung der personenbezogenen Daten ablehnten und stattdessen die Einschränkung der Nutzung der personenbezogenen Daten verlangt haben;</li>
        <li>wir die personenbezogenen Daten für die Zwecke der Verarbeitung nicht länger benötigen, Sie die Daten jedoch zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigen, oder</li>
        <li>Sie Widerspruch gegen die Verarbeitung gemäß Art. 21 Abs. 1 DSGVO eingelegt haben, solange noch nicht feststeht, ob die berechtigten Gründe dieser Website gegenüber den Ihren überwiegen.</li>
    </ol>


    <b>6.5	Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</b><br>
    <p>Sie haben das Recht, Sie betreffende personenbezogene Daten maschinenlesbar zu erhalten, zu übermitteln, oder von uns übermitteln zu lassen.
        Im Einzelnen:
        Sie haben das Recht, die Sie betreffenden personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten, und Sie haben das Recht, diese Daten einem anderen Verantwortlichen ohne Behinderung durch uns zu übermitteln, sofern</p>
    <ol>
        <li>die Verarbeitung auf einer Einwilligung gemäß Art. 6 Abs. 1 S. 1 a) DSGVO oder Art. 9 Abs. 2 a) DSGVO oder auf einem Vertrag gemäß Art. 6 Abs. 1 S. 1 b) DSGVO beruht und</li>
        <li>die Verarbeitung mithilfe automatisierter Verfahren erfolgt.</li>
    </ol>

    <p>Bei der Ausübung Ihres Rechts auf Datenübertragbarkeit gemäß Absatz 1 haben Sie das Recht, zu erwirken, dass die personenbezogenen Daten direkt von uns einem anderen Verantwortlichen übermittelt werden, soweit dies technisch machbar ist.</p><br>

    <b>6.6	Widerspruchsrecht (Artikel 21 DSGVO)</b><br>
    <p>Sie haben das Recht, einer rechtmäßigen Verarbeitung Ihrer personenbezogenen Daten durch uns zu widersprechen, wenn sich dies aus Ihrer besonderen Situation begründet und unsere Interessen an der Verarbeitung nicht überwiegen.
        Im Einzelnen:
        Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung Sie betreffender personenbezogener Daten, die aufgrund von Art. 6 Abs. 1 S. 1 e) oder f) DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmungen gestütztes Profiling. Wir verarbeiten die personenbezogenen Daten nicht mehr, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.
        Werden personenbezogene Daten von uns verarbeitet, um Direktwerbung zu betreiben, so haben Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung Sie betreffender personenbezogener Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.
        Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, gegen die Sie betreffende Verarbeitung Sie betreffender personenbezogener Daten, die zu wissenschaftlichen oder historischen Forschungszwecken oder zu statistischen Zwecken gemäß Art. 89 Abs. 1 DSGVO erfolgt, Widerspruch einzulegen, es sei denn, die Verarbeitung ist zur Erfüllung einer im öffentlichen Interesse liegenden Aufgabe, einer gesetzlichen Forderung oder einer Anforderung von Strafverfolgungsbehörden erforderlich.</p><br>

    <b>6.7	Automatisierte Entscheidungen einschließlich Profiling (Art. 22 DSGVO)</b><br>
    <p>Sie haben das Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung – einschließlich Profiling – beruhenden Entscheidung unterworfen zu werden, die Ihnen gegenüber rechtliche Wirkung entfaltet oder Sie in ähnlicher Weise erheblich beeinträchtigt.
        Eine automatisierte Entscheidungsfindung auf der Grundlage der erhobenen personenbezogenen Daten ("Profiling") findet auf dieser Website generell nicht statt.</p><br>

    <b>6.8	Recht auf Widerruf einer datenschutzrechtlichen Einwilligung</b><br>
    <p>Sie haben das Recht, eine Einwilligung zur Verarbeitung personenbezogener Daten jederzeit zu widerrufen. Diesen Widerruf können Sie per Brief an uns richten oder per E-Mail an die Adresse <b>datenschutz@arrowdynamics.systems</b>. Soweit die Verarbeitung der personenbezogenen Daten auf Grundlage Ihrer Einwilligung (Artikel 6 Absatz 1 Buchstabe a DSGVO) erfolgt, können Sie diese jederzeit für den entsprechenden Zweck widerrufen. Die Rechtmäßigkeit der Verarbeitung aufgrund Ihrer getätigten Einwilligung bleibt bis zum Eingang Ihres Widerrufs unberührt.</p><br>

    <b>6.9	Recht auf Beschwerde bei einer Aufsichtsbehörde (Art. 77 DSGVO)</b><br>
    <p>Sie haben das Recht auf Beschwerde bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat Ihres Aufenthaltsorts, Ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten rechtswidrig ist. Die für Berlin zuständige Aufsichtsbehörde ist: Berliner Beauftragte für Datenschutz und Informationsfreiheit, Frau Maja Smoltczyk, Anschrift: Friedrichstraße 219, 10969 Berlin.</p><br>

    <span class="card-title">(7)	Datensicherheit</span><br>
    <p>Wir sind um die Sicherheit Ihrer und unserer Daten im Rahmen der geltenden Datenschutzgesetze und technischen Möglichkeiten maximal bemüht.
        Ihre persönlichen Daten werden bei uns verschlüsselt übertragen und gespeichert. Der gesamte Datenverkehr zwischen Ihnen und der Website wird per SSL verschlüsselt, und unsere Website erzwingt generell per SSL verschlüsselte Kommunikation. Sie können dies in Ihrem Browser erkennen (grünes Schloss in Chrome und Firefox). Wir nutzen das Codierungssystem SSL (Secure Socket Layer), welches den aktuellen Stand der Technik darstellt, weisen jedoch darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. <br>
        Beachten Sie, dass Kommunikation per E-Mail im Regelfalle nicht verschlüsselt erfolgt. E-Mail-Verschlüsselung ist eine Maßnahme, welche Sie proaktiv in Ihrem E-Mail-Client einstellen müssen. Übertragen Sie daher keine schutzbedürftigen Daten und Informationen per E-Mail. Sofern Sie schutzbedürftige Daten und Informationen übertragen möchten, senden Sie diese auf dem Postweg an die im <a href="impressum.html">Impressum</a> angegebene Postadresse. <br>
        Zur Sicherung Ihrer Daten unterhalten wir technische und organisatorische Sicherungsmaßnahmen entsprechend Art. 32 DSGVO, die wir immer wieder dem Stand der Technik anpassen. Hierzu gehören unter anderem, aber nicht ausschließlich, Verschlüsselung (basierend auf asymmetrischer RSA und symmetrischer AES-256 Verschlüsselung), Virenscanner, Firewalls, Backup-Strategien, zertifizierte Rechenzentren, Notstromlösungen, Speicherung der Daten in Rechenzentren der Bundesrepublik Deutschland etc. <br>
        Wir gewährleisten und garantieren nicht, dass unser Angebot zu bestimmten Zeiten verlässlich zur Verfügung steht; Störungen, Unterbrechungen oder Ausfälle können nicht ausgeschlossen werden. Wir behalten uns vor, die Website ganz oder teilweise ohne Angabe von Gründen und ohne Vorankündigung jederzeit vom Netz zu nehmen. Ihre Rechte betreffend den Datenschutz bleiben hiervon unberührt und gelten auch bei offline geschalteter Website fort. Die von uns verwendeten Server befinden sich physikalisch ausschließlich in der Bundesrepublik Deutschland und werden regelmäßig sorgfältig gesichert und überprüft.<br>

        Generell treffen wir nach Maßgabe des Art. 32 DSGVO unter Berücksichtigung des Stands der Technik, der Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie der unterschiedlichen Eintrittswahrscheinlichkeit und Schwere des Risikos für die Rechte und Freiheiten natürlicher Personen, geeignete technische und organisatorische Maßnahmen, um ein dem Risiko angemessenes Schutzniveau zu gewährleisten.<br>

        Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit, Integrität und Verfügbarkeit von Daten durch Kontrolle des physischen Zugangs zu den Daten (Rechenzentrum), als auch des sie betreffenden Zugriffs, der Eingabe, Weitergabe, der Sicherung der Verfügbarkeit und ihrer Trennung. Des Weiteren haben wir Verfahren eingerichtet, die eine Wahrnehmung von Betroffenenrechten, Löschung von Daten und Reaktion auf Gefährdung der Daten gewährleisten. Ferner berücksichtigen wir den Schutz personenbezogener Daten bereits bei der Entwicklung, bzw. Auswahl von Hardware, Software sowie Verfahren, entsprechend dem Prinzip des Datenschutzes durch Technikgestaltung und durch datenschutzfreundliche Voreinstellungen (Art. 25 DSGVO).</p><br>


    <span class="card-title">(8) Weitergabe von Daten an Dritte, Datenübertragung ins Nicht-EU-Ausland ("Drittländer")</span><br>
    <p>	Grundsätzlich verwenden wir Ihre personenbezogenen Daten nur innerhalb unserer Serverumgebung, welche in der Bundesrepublik Deutschland physikalisch und rechtlich  betrieben wird.
        Wenn und soweit wir Dritte im Rahmen der Erfüllung von Verträgen einschalten (etwa Logistik-Dienstleister), erhalten diese personenbezogene Daten nur in dem Umfang, in welchem die Übermittlung für die entsprechende Leistung erforderlich ist.
        Für den Fall, dass wir bestimmte Teile der Datenverarbeitung auslagern („Auftragsverarbeitung“), verpflichten wir Auftragsverarbeiter vertraglich dazu, personenbezogene Daten nur im Einklang mit den Anforderungen der Datenschutzgesetze zu verwenden und den Schutz der Rechte der betroffenen Person zu gewährleisten.
        Eine Datenübertragung an Stellen oder Personen außerhalb der EU außerhalb des in dieser Erklärung in Ziffer 4 genannten Falles findet nicht statt und ist nicht geplant. Bitte beachten Sie, dass das Senden von E-Mails an diese Website oder dessen Betreiber unter Umständen Server in Anspruch nimmt, deren physikalischer Standort außerhalb der Europäischen Union liegt, worauf der Betreiber dieser Website keinen Einfluss hat. E-Mail ist generell kein sicheres Kommunikationsmedium. Alle gespeicherten Daten werden zusätzlich verschlüsselt. <br>
        Auf dieser Website werden Dienste und Inhalte Dritter verwendet und eingebunden ("Plugins"), welche unter Umständen eine Verarbeitung personenbezogener Daten außerhalb der Europäischen Union vornehmen. Hierzu gilt: sofern wir Daten in einem Drittland (d.h. außerhalb der Europäischen Union (EU) oder des Europäischen Wirtschaftsraums (EWR)) verarbeiten oder dies im Rahmen der Inanspruchnahme von Diensten Dritter ("Plugins") oder Offenlegung, bzw. Übermittlung von Daten an Dritte geschieht, erfolgt dies nur, wenn es zur Erfüllung unserer (vor)vertraglichen Pflichten, auf Grundlage Ihrer Einwilligung, aufgrund einer rechtlichen Verpflichtung oder auf Grundlage unserer berechtigten Interessen geschieht. Vorbehaltlich gesetzlicher oder vertraglicher Erlaubnisse, verarbeiten oder lassen wir die Daten in einem Drittland nur beim Vorliegen der besonderen Voraussetzungen der Art. 44 ff. DSGVO verarbeiten, das heißt, die Verarbeitung erfolgt z.B. auf Grundlage besonderer Garantien, wie der offiziell anerkannten Feststellung eines der EU entsprechenden Datenschutzniveaus (z.B. für die USA durch das „Privacy Shield“) oder Beachtung offiziell anerkannter spezieller vertraglicher Verpflichtungen (so genannte „Standardvertragsklauseln“).
    </p><br>

    <span class="card-title">(9) Datenschutzbeauftragter</span><br>
    <p>	Von Gesetzes wegen ist für den Betrieb dieser Website kein Datenschutzbeauftragter erforderlich. Bitte wenden Sie sich bei allen Fragen zum Thema Datenschutz auf dieser Website an den Ansprechpartner für den Datenschutz unter <b>datenschutz@arrowdynamics.systems</b>. Bitte beachten Sie, dass E-Mail kein sicheres Kommunikationsmedium ist. Senden Sie uns einen Brief, wenn Sie einen sicheren Kommunikationsweg benötigen. Sie finden die Postadresse im <a href="impressum.html">Impressum</a>.  </p><br>


    <span class="card-title">(10) Einbindung von Diensten und Inhalten Dritter</span><br>
    <p>Wir setzen innerhalb dieser Website auf Grundlage unserer berechtigten Interessen (d.h. Interesse an der Analyse, Optimierung und dem wirtschaftlichen Betrieb unseres Onlineangebotes im Sinne des Art. 6 Abs. 1 lit. f. DSGVO) möglicherweise Inhalts- oder Serviceangebote von Drittanbietern ein, um deren Inhalte und Services, wie z.B. Videos oder Schriftarten einzubinden (nachfolgend einheitlich bezeichnet als “Inhalte”).
        Dies setzt immer voraus, dass die Drittanbieter dieser Inhalte die IP-Adresse der Nutzer wahrnehmen, da sie ohne die IP-Adresse die Inhalte nicht an deren Browser senden könnten. Die IP-Adresse ist damit für die Darstellung dieser Inhalte erforderlich. Wir bemühen uns nur solche Inhalte zu verwenden, deren jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte verwenden. Drittanbieter können ferner so genannte Pixel-Tags (unsichtbare Grafiken, auch als "Web Beacons" bezeichnet) für statistische oder Marketingzwecke verwenden. Durch die "Pixel-Tags" können Informationen, wie der Besucherverkehr auf den Seiten dieser Website ausgewertet werden. Die pseudonymen Informationen können ferner in Cookies auf dem Gerät der Nutzer gespeichert werden und unter anderem technische Informationen zum Browser und Betriebssystem, verweisende Webseiten, Besuchszeit sowie weitere Angaben zur Nutzung unseres Onlineangebotes enthalten, als auch mit solchen Informationen aus anderen Quellen verbunden werden. Obwohl die Website arrowdynamics.systems zu keinem Zeitpunkt Cookies oder andere Tools zur Nachverfolgung Ihrer Aktivitäten einsetzt und Google Analytics nicht benutzt oder in Zukunft benutzen wird, ist es möglich, dass Plugins und Dienste Dritter dies tun. In diesem Fall finden die Erläuterungen unter Punkt 3.3 ("Cookies") und (4) "Google Analytics" Anwendung. </p><br>

    <b>A) Vimeo</b><br>
    <p>  Wir können die Videos der Plattform “Vimeo” des Anbieters Vimeo Inc., Attention: Legal Department, 555 West 18th Street New York, New York 10011, USA, einbinden. Datenschutzerklärung: https://vimeo.com/privacy. WIr weisen darauf hin, dass Vimeo Google Analytics einsetzen kann und verweisen hierzu auf die Datenschutzerklärung (https://www.google.com/policies/privacy) sowie Opt-Out-Möglichkeiten für Google-Analytics (http://tools.google.com/dlpage/gaoptout?hl=de) oder die Einstellungen von Google für die Datennutzung zu Marketingzwecken (https://adssettings.google.com/).</p><br>

    <b>B) Youtube</b><br>
    <p> Wir binden ggf. die Videos der Plattform “YouTube” des Anbieters Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA, ein. Datenschutzerklärung: https://www.google.com/policies/privacy/, Opt-Out: https://adssettings.google.com/authenticated.</p><br>

    <b>C) Google Fonts</b><br>
    <p> Wir binden die Schriftarten ("Google Fonts") des Anbieters Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA, ein. Datenschutzerklärung: https://www.google.com/policies/privacy/, Opt-Out: https://adssettings.google.com/authenticated.</p><br>

    <b>D) Google Maps</b><br>
    <p>Wir binden ggf. die Landkarten des Dienstes “Google Maps” des Anbieters Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA, ein. Zu den verarbeiteten Daten können insbesondere IP-Adressen und Standortdaten der Nutzer gehören, die jedoch nicht ohne deren Einwilligung (im Regelfall im Rahmen der Einstellungen ihrer Mobilgeräte vollzogen), erhoben werden. Die Daten können in den USA verarbeitet werden. Datenschutzerklärung: https://www.google.com/policies/privacy/, Opt-Out: https://adssettings.google.com/authenticated.</p><br>

    <b>E) OpenStreetMap</b><br>
    <p>  Wir binden ggf. die Landkarten des Dienstes "OpenStreetMap" ein (https://www.openstreetmap.de), die auf Grundlage der Open Data Commons Open Database Lizenz (ODbL) durch die OpenStreetMap Foundation (OSMF) angeboten werden. Datenschutzerklärung: https://wiki.openstreetmap.org/wiki/Privacy_Policy.
        Nach unserer Kenntnis werden die Daten der Nutzer durch OpenStreetMap ausschließlich zu Zwecken der Darstellung der Kartenfunktionen und Zwischenspeicherung der gewählten Einstellungen verwendet. Zu diesen Daten können insbesondere IP-Adressen und Standortdaten der Nutzer gehören, die jedoch nicht ohne deren Einwilligung (im Regelfall im Rahmen der Einstellungen ihrer Mobilgeräte vollzogen), erhoben werden.
        Die Daten können in den USA verarbeitet werden. Weitere Informationen können Sie der Datenschutzerklärung von OpenStreetMap entnehmen: https://wiki.openstreetmap.org/wiki/Privacy_Policy.</p><br>

    <b>F) Hyperlinks auf externe Inhalte ("externe Links")</b><br>
    <p> Dieses Webangebot nutzt ggf. externe Hyperlinks auf andere Webseiten im Internet, um Ihnen zusätzliche Informationen oder Inhalte anzubieten, die nicht im direkten Einflussbereich des Betreibers von arrowdynamics.systems liegen. Diese externen Websites unterliegen der Haftung der jeweiligen Betreiber. Arrowdynamics.systems hat bei der erstmaligen Verknüpfung der externen Links die fremden Inhalte daraufhin überprüft, ob etwaige Rechtsverstöße bestehen. Zu diesem Zeitpunkt waren keine Rechtsverstöße ersichtlich. Arrowdynamics.systems hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der verknüpften, externen Websites. Das Setzen von externen Links bedeutet nicht, dass sich arrowdynamics.systems die hinter dem Verweis oder Link liegenden Inhalte zu Eigen macht. Eine ständige Kontrolle dieser externen Links ist für uns ohne konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von Rechtsverstößen werden jedoch derartige externe Links unverzüglich gelöscht. Sollten Sie Kenntnis eines Rechtsverstoßes auf von uns verlinkten externen Websites erhalten, bitten wir Sie um eine Information an <b>datenschutz@arrowdynamics.systems</b>. Externe Links auf dieser Website sind eindeutig und unmittelbar mit dem Verweis {externer Link} in geschweiften Klammern gekennzeichnet.

    </p><br>


    </span></p><a href="https://datenschutz-generator.de" class="dsg1-5" rel="nofollow" target="_blank">Erstellt mit Datenschutz-Generator.de von RA Dr. Thomas Schwenke</a> {externer Link}, angepasst vom Website-Betreiber. Durch Anklicken des Links verlassen Sie das Angebot von Arrowdynamics.systems. Wir übernehmen keine Haftung für Inhalte externer Websites.


    </div>
    </div>

    </div>
    </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card red light-2">
                <div class="card-content white-text">
                    <span class="card-title">Ansprechpartner für den Datenschutz:</span><br>
                    <p>Bitte wenden Sie sich bei allen Fragen zum Thema Datenschutz und bei allen anderen Anliegen betreffend Ihre Rechte auf dieser Website an den Ansprechpartner für den Datenschutz unter <b>datenschutz@arrowdynamics.systems</b> oder an die Postadresse im <a href="impressum.html">Impressum</a>.




                    </p>
                </div>
            </div>

        </div>
    </div>
    </div>
    <!-- Ende Karten =============================================================================================================  -->
{% endblock %}
