{% extends 'base.html.twig' %}

{% block headline %}
    <h1>Sensordaten</h1>
{% endblock %}
{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Temperatur</th>
            <th scope="col">Wind-Chill</th>
            <th scope="col">Luftdruck</th>
            <th scope="col">Relative Luftfeuchte</th>
            <th scope="col">Windgeschwindigkeit</th>
            <th scope="col">Windrichtung</th>
            <th scope="col">Niederschlag Ja/Nein</th>
            <th scope="col">Niederschlagsart</th>
            <th scope="col">Niederschlagsintensität</th>
            <th scope="col">Niederschlag gesamt seit 00 UTC</th>
            <th scope="col">Helligkeit Gesamt</th>
            <th scope="col">Helligkeit Nord</th>
            <th scope="col">Helligkeit Süd</th>
            <th scope="col">Helligkeit West</th>
            <th scope="col">Helligkeit Ost</th>
            <th scope="col">Richtung der Helligkeit</th>
            <th scope="col">Längengrad</th>
            <th scope="col">Breitengrad</th>
            <th scope="col">Sensorhöhe</th>
            <th scope="col">Elevation</th>
            <th scope="col">Azimut</th>
            <th scope="col">Zeitstempel</th>
        </tr>
        </thead>
        <tbody>
        {% for statistic in statistics %}
        <tr>
            <td>{{ statistic.temperature }}</td>
            <td>{{ statistic.windchill }}</td>
            <td>{{ statistic.pressure }}</td>
            <td>{{ statistic.relativeHumidity }}</td>
            <td>{{ statistic.windSpeed }}</td>
            <td>{{ statistic.windDirection }}</td>
            <td>{{ statistic.rainfall }}</td>
            <td>{{ statistic.rainfallCategory }}</td>
            <td>{{ statistic.rainfallIntensity }}</td>
            <td>{{ statistic.rainfallSinceMidnight }}</td>
            <td>{{ statistic.brightnessTotal }}</td>
            <td>{{ statistic.brightnessNorth }}</td>
            <td>{{ statistic.brightnessSouth }}</td>
            <td>{{ statistic.brightnessWest }}</td>
            <td>{{ statistic.brightnessEast }}</td>
            <td>{{ statistic.brightnessDirection }}</td>
            <td>{{ statistic.longitude }}</td>
            <td>{{ statistic.latitude }}</td>
            <td>{{ statistic.sensorHeight }}</td>
            <td>{{ statistic.elavation }}</td>
            <td>{{ statistic.azimut }}</td>
            <td>{{ statistic.timestamp }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
