{% extends 'base.html.twig' %}

{% block title %}
    <title>Wetterdaten</title>
{% endblock %}

{% block body %}
    <!-- Ab hier einfügen der Wetterdaten============================================================================================  -->
    <!--  Ende der Wetterdaten =======================================================================================================  -->

    <div class="parallax-container valign-wrapper editable" id="untitled-region-19">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="black-text header col s12 darken-2">Wetterstation Richard-Sorge Straße, Berlin</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ asset('Daten/Fotos/wallpapers/background3.jpg') }}"
                                   alt="Unsplashed background img 3"></div>
    </div>


    <!-- Karten ==================================================================================================================  -->



    <div class="row">

        <div class="col s2">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Messdaten:</span><br>

                    <p>Anlage: THIES-01 </p>
                    <p>THIES Sensor US </p>
                    <p>Berlin FHAIN Nord </p>

                </div>
            </div>
        </div>

        <div class="col s8 ">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Aktuelle Messdaten:</span><br>
                    <p>Zeitstempel: </p>
                    {{ weatherData.timestamp }}
                    <p>Temperatur [°C]: </p>
                    {{ weatherData.temperature }}
                    <p>Windchill [°C]: </p>
                    {{ weatherData.windchill }}
                    <p>Luftdruck [hPa]: </p>
                    {{ weatherData.pressure }}
                    <p>Relative Luftfeuchtigkeit [%]: </p>
                    {{ weatherData.relativeHumidity }}
                    <p>Windgeschwindigkeit [m/s]: </p>
                    {{ weatherData.windSpeed }}
                    <p>Windrichtung [Grad]: </p>
                    {{ weatherData.windDirection }}
                    <p>Niederschlag: </p>
                    {{ weatherData.rainfall }}
                    <p>Niederschlagsart: </p>
                    {{ weatherData.rainfallCategory }}
                    <p>Niederschlagsintensität [mm/h]: </p>
                    {{ weatherData.rainfallIntensity }}
                    <p>Niederschlagssumme [mm/d]: </p>
                    {{ weatherData.rainfallSinceMidnight }}
                    <p>Helligkeit Gesamt [lux]: </p>
                    {{ weatherData.brightnessTotal }}
                    <p>Helligkeit Nord [lux]: </p>
                    {{ weatherData.brightnessNorth }}
                    <p>Helligkeit Ost [lux]: </p>
                    {{ weatherData.brightnessEast }}
                    <p>Helligkeit Süd [lux]: </p>
                    {{ weatherData.brightnessSouth }}
                    <p>Helligkeit West [lux]: </p>
                    {{ weatherData.brightnessWest }}
                    <p>Richtung der Helligkeit [Grad]: </p>
                    {{ weatherData.brightnessDirection }}
                    <p>Sensorhöhe über NN [m]: </p>
                    {{ weatherData.sensorHeight }}
                    <p>Elevation [m]: </p>
                    {{ weatherData.elavation }}
                    <p>Azimut [m]: </p>
                    {{ weatherData.azimut }}
                </div>
            </div>

        </div>
    </div>
    </div>
    <!-- Ende Karten =============================================================================================================  -->



    <footer class="page-footer teal">

        <div class="footer-copyright">
            <div class="container">
                <!-- Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>-->
                &copy; 2018-2019 Hannes Zinnbauer &mdash; Powered by Linux &mdash; Made with &hearts; in Berlin.

            </div>
        </div>
    </footer>
{% endblock %}
