{% extends 'base.html.twig' %}


{% block title %}
    <title>Wifi Landingpage</title>
{% endbloc %}
{% block body %}

    <!-- Einbindung eines Bildes am Anfang:
      <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">

              <h5 class="header col s12 light"> Arrowdynamics.systems</h5>

            </div>
          </div>
        </div>
        <div class="parallax"><img src="Daten/Fotos/wallpapers/background2_reduced.jpg" alt="Unsplashed background img 2"></div>
      </div>
    -->


    <!-- Karten ==================================================================================================================  -->
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card blue darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">Willkommen<br />
                        in meinem WiFi &hearts;</span><br>
                        <p>Es gelten die Nutzungsbedingungen sowie die Datenschutzerklärung der Systeme von Arrowdynamics.systems. Ihre IP-Adresse sowie Ihr Nutzungsverhalten werden automatisiert gespeichert.
                        </p>
                    </div>
                </div>

            </div>
        </div>




        <div class="col s6">
            <div class="card large blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Verantwortlich für den Inhalt:</span><br>

                    <p>Hannes Zinnbauer <br>
                        Landsberger Allee 378a <br>
                        12681 Berlin<br><br>
                        <div class="valign-wrapper">
                            <i class="material-icons">phone_in_talk</i><p>: 0151 551 64-304 (08:00 - 16:00 Uhr) </p>
                </div>
                <div class="valign-wrapper">
                    <i class="material-icons">mail_outline</i><p>: admin@arrowdynamics.systems</p>
                </div><br>
                Bitte wenden Sie sich bei allen Fragen und Anliegen zum Thema Datenschutz an den Verantwortlichen für den Datenschutz: <br><br>
                <div class="valign-wrapper">
                    <i class="material-icons">mail_outline</i><p>: datenschutz@arrowdynamics.systems</p>
                </div>

                </p>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col s12">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <span class="card-title">  Arrowdynamics.systems     </span>
                    <p>&copy; 2018 - 2019 Hannes Zinnbauer<br>
                        Powered by Linux &mdash; Made with &hearts; in Berlin.
                    </p>
                </div>
            </div>

        </div>
    </div>








    <!-- Ende Karten =============================================================================================================
-->
{% endblock %}
